## Part 1, Relational Tables for BART

### Included Modules and Packages

In [1]:
import csv

import math
import numpy as np
import pandas as pd

import psycopg2

---
### Supporting code

In [2]:
#     
# function to run a select query and return rows in a pandas dataframe
# pandas puts all numeric values from postgres to float
# if it will fit in an integer, change it to integer
#

def my_select_query_pandas(query, rollback_before_flag, rollback_after_flag):
    "function to run a select query and return rows in a pandas dataframe"
    
    if rollback_before_flag:
        connection.rollback()
    
    df = pd.read_sql_query(query, connection)
    
    if rollback_after_flag:
        connection.rollback()
    
    # fix the float columns that really should be integers
    
    for column in df:
    
        if df[column].dtype == "float64":

            fraction_flag = False

            for value in df[column].values:
                
                if not np.isnan(value):
                    if value - math.floor(value) != 0:
                        fraction_flag = True

            if not fraction_flag:
                df[column] = df[column].astype('Int64')
    
    return(df)

In [3]:
connection = psycopg2.connect(
    user = "postgres",
    password = "ucb",
    host = "postgres",
    port = "5432",
    database = "postgres"
)

In [4]:
cursor = connection.cursor()

In [5]:
def my_read_csv_file(file_name, limit):
    "read the csv file and print only the first limit rows"
    
    csv_file = open(file_name, "r")
    
    csv_data = csv.reader(csv_file)
    
    i = 0
    
    for row in csv_data:
        i += 1
        if i <= limit:
            print(row)
            
    print("\nPrinted ", min(limit, i), "lines of ", i, "total lines.")

---
### Drop and Re-create Tables, then Load Data

In [6]:
connection.rollback()

query = """

drop table if exists stations;
drop table if exists lines;
drop table if exists travel_times;

create table stations (
  station varchar(32),
  latitude numeric(9,6),
  longitude numeric(9,6),
  transfer_time numeric(3),
  primary key (station)
);

create table lines (
  line varchar(6),
  sequence numeric(2),
  station varchar(32),
  primary key (line, sequence)
);

create table travel_times (
  station_1 varchar(32),
  station_2 varchar(32),
  travel_time numeric(3),
  primary key (station_1, station_2)
);

copy stations
from '/user/projects/project-3-esambrailo/code/stations.csv' delimiter ',' NULL '' csv header;

copy lines
from '/user/projects/project-3-esambrailo/code/lines.csv' delimiter ',' NULL '' csv header;

copy travel_times
from '/user/projects/project-3-esambrailo/code/travel_times.csv' delimiter ',' NULL '' csv header;

"""

cursor.execute(query)

connection.commit()

---
### Verification of Data Loading

In [7]:
rollback_before_flag = True
rollback_after_flag = True

query = """

select *
from travel_times
order by station_1, station_2

"""

my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)

               station_1             station_2  travel_time
0            12th Street           19th Street          120
1            12th Street          Lake Merritt          180
2            12th Street          West Oakland          300
3    16th Street Mission   24th Street Mission          120
4    16th Street Mission          Civic Center          180
5            19th Street             MacArthur          180
6    24th Street Mission             Glen Park          180
7                Antioch      Pittsburg Center          420
8                  Ashby     Downtown Berkeley          180
9                  Ashby             MacArthur          240
10           Balboa Park             Daly City          240
11           Balboa Park             Glen Park          120
12              Bay Fair         Castro Valley          240
13              Bay Fair               Hayward          240
14              Bay Fair           San Leandro          240
15             Berryessa              Milpitas          300
16         Castro Valley           West Dublin          600
17          Civic Center         Powell Street           60
18              Coliseum             Fruitvale          240
19              Coliseum                   OAK          480
20              Coliseum           San Leandro          240
21                 Colma             Daly City          240
22                 Colma   South San Francisco          180
23               Concord         North Concord          180
24               Concord         Pleasant Hill          360
25     Downtown Berkeley        North Berkeley          120
26                Dublin           West Dublin          180
27  El Cerrito del Norte              Richmond          300
28      El Cerrito Plaza  El Cerrito del Norte          180
29      El Cerrito Plaza        North Berkeley          180
30           Embarcadero     Montgomery Street           60
31           Embarcadero          West Oakland          420
32               Fremont            Union City          300
33               Fremont          Warm Springs          360
34             Fruitvale          Lake Merritt          300
35               Hayward         South Hayward          240
36             Lafayette                Orinda          300
37             Lafayette          Walnut Creek          300
38          Lake Merritt          West Oakland          360
39             MacArthur             Rockridge          240
40              Millbrae             San Bruno          420
41              Millbrae                   SFO          300
42              Milpitas          Warm Springs          540
43     Montgomery Street         Powell Street          120
44         North Concord             Pittsburg          360
45                Orinda             Rockridge          300
46             Pittsburg      Pittsburg Center          600
47         Pleasant Hill          Walnut Creek          120
48             San Bruno   South San Francisco          240
49                   SFO             San Bruno          240
50         South Hayward            Union City          300